
@import "largeScreen.css";
@import "mediumSizeScreen.css";
@import "mobile.css";

.box{
  border:1px solid blueviolet;
  background: #F5B041;
  }

.header{
    grid-area:head;
    padding:10px;
}
.authorinfo{
  grid-area:main;
  align-items:center;
  line-height:1.5em;
  padding-left:10px;
}
.footer{
  grid-area:ft;
  display:flex;  
  flex-direction:row;
  justify-content:space-evenly;
  padding:10px;
}
#avatar{
  max-width:15%;
  height:auto;
  align-content:flex-start;
}



