/* If wide enough */
@media(min-width:1101px){
    .container{
      display:grid;
      justify-content:space-evenly;
      grid-template-columns:1fr;
      grid-template-rows:50px auto 50px;
      grid-template-areas: 
      "hd hd hd hd hd hd"
      "main main main main main main"
      "ft ft ft ft ft ft";
      border:2px solid greenyellow;
  }
}